JUGO_DB_BACKEND=sqlite
JUGO_DB_HOST=127.0.0.1
JUGO_DB_PORT=5432
JUGO_DB_NAME=jugo
JUGO_DB_USER=jugo
JUGO_DB_PW=
JUGO_DB_PREFIX=jugo
DEEPL_API_KEY=
# DEEPL_API_KEY_2=
# DEEPL_API_KEY_3=
LITELLM_URL=
LITELLM_PORT=
LITELLM_API_KEY=
