HOST=127.0.0.1
JUGO_PORT=11001
USE_TMUX=false
TMUX_SHELL=false
JUGO_TMUX_SESSION_PREFIX=jugo
DB_TYPE=sqlite
DB_PATH=/opt/JUGO/sqlite.db
DB_URL=
DB_PORT=
DB_NAME_JUGO=
DB_USER_JUGO=
DB_PW_JUGO=
DEEPL_API_KEY=
# DEEPL_API_KEY_2=
# DEEPL_API_KEY_3=
XAI_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
ELEVENLABS_API_KEY=
GOOGLE_TTS_CREDENTIALS=
LITELLM_URL=
LITELLM_PORT=
LITELLM_API_KEY=
