JUGO_DB_BACKEND=sqlite
JUGO_DB_HOST=127.0.0.1
JUGO_DB_PORT=5432
JUGO_DB_NAME=jugo
JUGO_DB_USER=jugo
JUGO_DB_PW=
JUGO_DB_PREFIX=jugo
DEEPL_API_KEY=
# DEEPL_API_KEY_2=
# DEEPL_API_KEY_3=
OPENAI_V1_URL=
OPENAI_V1_PORT=
OPENAI_V1_KEY=
# OPENAI_V1_URL_2=
# OPENAI_V1_PORT_2=
# OPENAI_V1_KEY_2=
